<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codecool events</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>Add new event</h2>
    <!--<form action="#" th:action="@{add}" th:object="${event}" method="post" class="col-sm-4">-->
    <form action="#" th:action="@{add}" method="post" class="col-sm-4">

        <div class="form-group">
            <label for="ename" class="sr-only">Name</label>
            <input type="text" id="ename" name="ename" class="form-control"
                   th:field="*{ename}" placeholder="Event Name" required autofocus>
        </div>
        <div class="form-group">
            <label for="description" class="sr-only">Description</label>
            <textarea row="5" id="description" name="description" th:field="*{description}" class="form-control"
                      placeholder="Description"
                      required></textarea>
        </div>
        <div class="form-group">
            <label for="edate" class="sr-only">Event Date</label>
            <input type="date" id="edate" name="edate" class="form-control"
                   placeholder="dd-mm-yyyy"
                   required>
        </div>

        <div class="form-group">
            <label for="category" class="sr-only">Event Category</label>
            <select class="form-control" id="category" name="category">
                <option value="1">Python</option>
                <option value="2">Java</option>
                <option value="3">Culture</option>
            </select>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
    </form>
</div>

<div th:replace="footer :: copy"></div>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>