<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Codecool events</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h2>Codecool Events</h2> <a href="" th:href="@{add}" class="btn btn-lg btn-primary btn-right">
    Add new event</a>
    <table class="table">
        <thead>
        <tr>
            <th>Nr</th>
            <th>Event name</th>
            <th>Event date</th>
            <th>Category</th>
            <th>Update</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="event,iterStat : ${eventsList}">
            <tr>
                <td th:text="${iterStat.index+1}"></td>
                <td><a href="" data-toggle="modal"
                              th:data-target="'#modal' + ${event.getId()}" th:text="${event.getName()}"></a></td>
                <td th:text="${event.simpleStringFromDate()}"></td>
                <td th:text="${event.getEventCategory().getName()}"></td>
                <td>
                    <a href="" th:href="@{update/} + ${event.getId()}" class="btn btn-sm btn-primary">Update</a>
                </td>
                <td>
                    <form action="#" th:action="@{remove}" method="post" class="col-sm-4">
                        <button name="delete" th:value="${event.getId()}" class="btn btn-sm btn-primary " type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <th:block th:each="event,iterStat : ${eventsList}">
        <div class="modal fade" th:id="'modal' + ${event.getId()}" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h6>Event name:</h6>
                        <h3 class="modal-title" th:text="${event.getName()}"></h3>
                        <p></p>
                        <h6>Event date:</h6>
                        <h4 class="modal-title" th:text="${event.simpleStringFromDate()}"></h4>
                    </div>
                    <div class="modal-body">
                        <h6>Event description:</h6>
                        <h3 th:text="${event.getDescription()}"></h3>
                        <p></p>

                        <h6>External link:</h6>
                        <h4><a th:href="${event.getLink()}" target="_blank" th:if="${event.hasLink()}">Open in new page</a>
                        <p th:if="${!event.hasLink()}">No link to event</p></h4>

                    </div>
                    <div class="modal-footer">
                        <h6>Event category:</h6>
                        <h3 th:text="${event.getEventCategory().getName()} + ' - ' + ${event.getEventCategory().getDescription()}"></h3>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </th:block>



</div>

<div th:replace="footer :: copy"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>